.feynman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    top: 50%;
    right: 48px;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .feynman__link:hover {
    opacity: 0.2;
  }
