.kaufman__triagle {
    overflow: hidden;
    position: absolute;
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
    background-size: contain;
    object-position: right bottom;
    animation: rotation 30s linear infinite;
  }
